<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ProyectoEntities" connectionString="metadata=res://*/ModelProyecto.csdl|&#xA;         res://*/ModelProyecto.ssdl|&#xA;         res://*/ModelProyecto.msl;&#xA;         provider=System.Data.SqlClient;&#xA;         provider connection string=&quot;&#xA;         data source=FREAK;&#xA;         initial catalog=PROYECTO;&#xA;         integrated security=True;&#xA;         MultipleActiveResultSets=True;&#xA;         App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PROYECTOConnectionString" connectionString="Data Source=.;&#xA;         Initial Catalog=PROYECTO;&#xA;         Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="PROYECTOConnectionString2" connectionString="Data Source=.;Initial Catalog=PROYECTO;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>